PAYLOAD_SECRET=change-me-to-a-long-random-string
DATABASE_URI=file:./payload.db

CACHE_S3_REGION="eu-central-1"
CACHE_S3_BUCKET="next-cache-bucket"

# NEXT_PRIVATE_DEBUG_CACHE=true
NEXT_CACHE_S3_DEBUG=true