# NEXT_CACHE_S3_REGION="eu-central-1"
# NEXT_CACHE_S3_BUCKET="next-cache-bucket"

# For debugging the built-in Next.js cache
# NEXT_PRIVATE_DEBUG_CACHE=true

# For debugging the custom cache
NEXT_CACHE_S3_DEBUG=true